In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time


# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [121]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')
#first get the webpage
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [122]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [123]:
try:
    ranking_of_vid=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranking_of_vid:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('No details available')
except StaleElementReferenceException:
    Rank.append('No details available')

In [124]:
Name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('No details available')
except StaleElementReferenceException:
    Name.append('No details available')

In [125]:
Name

['"Baby Shark Dance"[22]',
 '"Despacito"[24]',
 '"Shape of You"[25]',
 '"See You Again"[26]',
 '"Johny Johny Yes Papa"[29]',
 '"Masha and the Bear – Recipe for Disaster"[30]',
 '"Uptown Funk"[31]',
 '"Gangnam Style"[32]',
 '"Learning Colors – Colorful Eggs on a Farm"[34]',
 '"Bath Song"[35]',
 '"Phonics Song with Two Words"[36]',
 '"Sorry"[37]',
 '"Sugar"[38]',
 '"Roar"[39]',
 '"Counting Stars"[40]',
 '"Thinking Out Loud"[41]',
 '"Dame Tu Cosita"[42]',
 '"Shake It Off"[43]',
 '"Faded"[44]',
 '"Dark Horse"[45]',
 '"Lean On"[46]',
 '"Bailando"[47]',
 '"Girls Like You"[48]',
 '"Let Her Go"[49]',
 '"Mi Gente"[50]',
 '"Hello"[51]',
 '"Perfect"[52]',
 '"Waka Waka (This Time for Africa)"[53]',
 '"Blank Space"[54]',
 '"Chantaje"[55]']

In [126]:
Artist
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('No details available')
except StaleElementReferenceException:
    Artist.append('No details available')
Artist

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'Ed Sheeran',
 'Wiz Khalifa',
 'LooLoo Kids',
 'Get Movies',
 'Mark Ronson',
 'Psy',
 'Miroshka TV',
 'Cocomelon – Nursery Rhymes',
 'ChuChu TV',
 'Justin Bieber',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'El Chombo',
 'Taylor Swift',
 'Alan Walker',
 'Katy Perry',
 'Major Lazer Official',
 'Enrique Iglesias',
 'Maroon 5',
 'Passenger',
 'J Balvin',
 'Adele',
 'Ed Sheeran',
 'Shakira',
 'Taylor Swift',
 'Shakira']

In [127]:
try:
    date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in date_list:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('No details available')
except StaleElementReferenceException:
    Upload_Date.append('No details available')

In [128]:
Upload_Date

['June 17, 2016',
 'January 12, 2017',
 'January 30, 2017',
 'April 6, 2015',
 'October 8, 2016',
 'January 31, 2012',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'May 2, 2018',
 'March 6, 2014',
 'October 22, 2015',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'April 5, 2018',
 'August 18, 2014',
 'December 3, 2015',
 'February 20, 2014',
 'March 22, 2015',
 'April 11, 2014',
 'May 31, 2018',
 'July 25, 2012',
 'June 29, 2017',
 'October 22, 2015',
 'November 9, 2017',
 'June 4, 2010',
 'November 10, 2014',
 'November 18, 2016']

In [129]:
try:
    list1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in list1:
        Views.append(i.text)
except NoSuchElementException:#handling no such element exception
    Views.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    Views.append('No details available')
Views

['8.09',
 '7.24',
 '5.21',
 '4.99',
 '4.90',
 '4.42',
 '4.11',
 '4.00',
 '3.74',
 '3.74',
 '3.60',
 '3.41',
 '3.41',
 '3.29',
 '3.21',
 '3.20',
 '3.15',
 '3.03',
 '3.00',
 '2.99',
 '2.99',
 '2.98',
 '2.97',
 '2.93',
 '2.88',
 '2.80',
 '2.76',
 '2.76',
 '2.73',
 '2.63']

In [130]:
df=pd.DataFrame({})
df['Rank']=Rank
df['Name']=Name
df['Artist']=Artist
df['Upload_date']=Upload_Date
df['Views']=Views
df

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.09
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.24
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.21
3,4.,"""See You Again""[26]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[29]",LooLoo Kids,"October 8, 2016",4.90
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.42
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.11
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.00
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.74
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.74
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.60
11,12.,"""Sorry""[37]",Justin Bieber,"October 22, 2015",3.41
12,13.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.41
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.29
14,15.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.21
15,16.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.20
16,17.,"""Dame Tu Cosita""[42]",El Chombo,"April 5, 2018",3.15
17,18.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.03
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.00
19,20.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",2.99
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",2.99
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",2.98
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",2.97
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.93
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.88
25,26.,"""Hello""[51]",Adele,"October 22, 2015",2.80
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.76
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.76
28,29.,"""Blank Space""[54]",Taylor Swift,"November 10, 2014",2.73
29,30.,"""Chantaje""[55]",Shakira,"November 18, 2016",2.63

# Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [131]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')
#first get the webpage www.bcci.tv
driver.get('https://www.bcci.tv/')

In [150]:
#clicking on international
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [151]:
#fixture
fixture=driver.find_element_by_xpath("//div[@class='drop-down__options']/ul[1]/li[1]/a[1]")
fixture.click()

In [152]:
#creting empty list
Match_Title=[] 
Series=[]
Place=[]
Date=[]
Time=[]

In [153]:
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
    Match_Title.append(i.text)

In [154]:
Match_Title

['4th Test',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I',
 '5th T20I',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test',
 '5th Test']

In [155]:
for i in driver.find_elements_by_xpath("//div[@class='fixture__teams']"):
    Series.append(i.text.replace("\n"," "))

In [156]:
Series

['INDIA v ENGLAND',
 'INDIA v ENGLAND',
 'INDIA v ENGLAND',
 'INDIA v ENGLAND',
 'INDIA v ENGLAND',
 'INDIA v ENGLAND',
 'INDIA v ENGLAND',
 'INDIA v ENGLAND',
 'INDIA v ENGLAND',
 'ENGLAND v INDIA',
 'ENGLAND v INDIA',
 'ENGLAND v INDIA',
 'ENGLAND v INDIA',
 'ENGLAND v INDIA']

In [157]:
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    Place.append(i.text)

In [158]:
Place

['Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Maharashtra Cricket Association Stadium, Pune',
 'Maharashtra Cricket Association Stadium, Pune',
 'Maharashtra Cricket Association Stadium, Pune',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [159]:
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):
    str_splt = (i.text).split()
    str_splt1=str_splt[0]+" "+str_splt[1]+" "+str_splt[2]
    str_splt2=str_splt[3]+" "+str_splt[4]
    Date.append(str_splt1)
    Time.append(str_splt2)

In [160]:
Date

['Thursday 04 MARCH',
 'Friday 12 MARCH',
 'Sunday 14 MARCH',
 'Tuesday 16 MARCH',
 'Thursday 18 MARCH',
 'Saturday 20 MARCH',
 'Tuesday 23 MARCH',
 'Friday 26 MARCH',
 'Sunday 28 MARCH',
 'Wednesday 04 AUGUST',
 'Thursday 12 AUGUST',
 'Wednesday 25 AUGUST',
 'Thursday 02 SEPTEMBER',
 'Friday 10 SEPTEMBER']

In [161]:
Time

['09:30 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '13:30 IST',
 '13:30 IST',
 '13:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST']

In [162]:
df=pd.DataFrame({})
df['Match_Title']=Match_Title
df['Series']=Series
df['Place']=Place
df['Date']=Date
df['Time']=Time
df

,Match_Title,Series,Place,Date,Time
0,4th Test,INDIA v ENGLAND,"Narendra Modi Stadium, Ahmedabad",Thursday 04 MARCH,09:30 IST
1,1st T20I,INDIA v ENGLAND,"Narendra Modi Stadium, Ahmedabad",Friday 12 MARCH,19:00 IST
2,2nd T20I,INDIA v ENGLAND,"Narendra Modi Stadium, Ahmedabad",Sunday 14 MARCH,19:00 IST
3,3rd T20I,INDIA v ENGLAND,"Narendra Modi Stadium, Ahmedabad",Tuesday 16 MARCH,19:00 IST
4,4th T20I,INDIA v ENGLAND,"Narendra Modi Stadium, Ahmedabad",Thursday 18 MARCH,19:00 IST
5,5th T20I,INDIA v ENGLAND,"Narendra Modi Stadium, Ahmedabad",Saturday 20 MARCH,19:00 IST
6,1st ODI,INDIA v ENGLAND,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23 MARCH,13:30 IST
7,2nd ODI,INDIA v ENGLAND,"Maharashtra Cricket Association Stadium, Pune",Friday 26 MARCH,13:30 IST
8,3rd ODI,INDIA v ENGLAND,"Maharashtra Cricket Association Stadium, Pune",Sunday 28 MARCH,13:30 IST
9,1st Test,ENGLAND v INDIA,"Trent Bridge, Nottingham",Wednesday 04 AUGUST,15:30 IST
10,2nd Test,ENGLAND v INDIA,"Lord's, London",Thursday 12 AUGUST,15:30 IST
11,3rd Test,ENGLAND v INDIA,"Headingley, Leeds",Wednesday 25 AUGUST,15:30 IST
12,4th Test,ENGLAND v INDIA,"The Oval, London",Thursday 02 SEPTEMBER,15:30 IST
13,5th Test,ENGLAND v INDIA,"Old Trafford, Manchester",Friday 10 SEPTEMBER,15:30 IST

# Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [207]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')
#first get the webpage 
driver.get('https://www.guru99.com/')

In [208]:
sel=driver.find_element_by_xpath("//i[@class='fa fa-code']")
try:
    sel.click()
except ElementNotInteractableException:
    driver.get(sel.get_attribute('href'))

In [209]:
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(exception_handle_link.get_attribute('href'))

In [210]:
Exception_name=[]
Description=[]

In [211]:
#scraping exceptions names
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        Exception_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    Exception_name.append('No details available')

In [212]:
Exception_name

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [213]:
#scraping exceptions description
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        Description.append(i.text)
except NoSuchElementException: 
    Description.append('No details available')
Description

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [215]:
df=pd.DataFrame({})
df['Exception_name']=Exception_name
df['Description']=Description
df

,Exception_name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [132]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')
#first get the webpage http://statisticstimes.com/
driver.get('http://statisticstimes.com/')

In [133]:
#clicking on economy
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()

In [134]:
#clicking on india
ind_clk=driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]")
driver.get(ind_clk.get_attribute('href'))

In [135]:
#clicking on gdp of indian states
statewise=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a[1]")
statewise.click()

In [136]:
# creating empty lists for scraping data
Rank=[] 
State=[] 
GSDP_2019_to_2020=[] 
GSDP_2018_to_2019=[] 
Share_2018_to_2019=[] 
GDP_Dollar_billion_=[]

In [137]:
#scraping rank
rank = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)
#scraping state
state = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    State.append(i.text)
#scraping gdsp_19_20
gdsp_19_20 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
for i in gdsp_19_20:
    GSDP_2019_to_2020.append(i.text)
#scraping gsdp(18-19)
gdsp_18_19 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
for i in gdsp_18_19:
    GSDP_2018_to_2019.append(i.text)
#scraping share
share = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    Share_2018_to_2019.append(i.text)
#scraping gdp($ billion)
gdp_dollar = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp_dollar:
    GDP_Dollar_billion_.append(i.text)

In [138]:

df=pd.DataFrame({})
df['Rank']=Rank 
df['State']=State
df['GSDP(19-20)']=GSDP_2019_to_2020 
df['GSDP(18-19)']=GSDP_2018_to_2019 
df['Share(18-19)']=Share_2018_to_2019 
df['GDP($ billion)']=GDP_Dollar_billion_
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

# Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [139]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')
#first get the webpage  https://github.com/
driver.get('https://github.com/')

In [140]:
#clicking on explore
explore=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details[1]/summary[1]")
explore.click()

In [141]:
#clicking on trending
trending=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(trending.get_attribute('href'))

In [142]:
#creating empty list
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [144]:
title = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for i in title:
    Repository_title.append(i.text)
Repository_title[:5]

['muguruzawang / jd_maotai_seckill',
 'tostercx / GTAO_Booster_PoC',
 'laravel-filament / filament',
 'PaddlePaddle / PaddleGAN',
 'pystardust / ytfzf']

In [145]:
try:
    descriptions=driver.find_elements_by_xpath("//article[@class='Box-row']/p")
    for i in descriptions:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('No details available')
Repository_description[:5]

['优化版本的京东茅台抢购神器',
 'The elegant TALL stack admin for Laravel artisans.',
 'PaddlePaddle GAN library, including lots of interesting applications like DeepFake First-Order motion transfer, Mai-ha-hi（蚂蚁呀嘿), faceswap wav2lip, picture repair, image editing, photo2cartoon, image style transfer, and so on.',
 'A posix script to find and watch youtube videos from the terminal. (With out API)',
 'AWS SDK for the Go programming language.']

In [146]:
languages=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in languages:
    try:
        Language_used.append(i.text)
    except NoSuchElementException :
        Language_used.append("---")
Language_used[:5]

['Python', 'C', 'PHP', 'Python', 'Shell']

In [147]:
URLS=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    URLS.append(i.get_attribute("href"))

for URL in URLS:
    
    try:
        driver.get(URL)
        count=driver.find_element_by_xpath("//ul[@class='pagehead-actions flex-shrink-0 d-none d-md-inline']/li[3]/a[2]").text
        Contributors_count.append(count)
    except NoSuchElementException :
        Contributors_count.append("---")

In [148]:
Contributors_count[:5]

['4.3k', '113', '588', '291', '53']

In [150]:
# creating the dataframe from the scraped data
Repositories=pd.DataFrame({})
Repositories['Repository_title']=Repository_title[0:22]
Repositories['Repository_description']=Repository_description[0:22] 
Repositories['Contributors_count']=Contributors_count[0:22] 
Repositories['Language_used']=Language_used[0:22] 
Repositories

,Repository_title,Repository_description,Contributors_count,Language_used
0,muguruzawang / jd_maotai_seckill,优化版本的京东茅台抢购神器,4.3k,Python
1,tostercx / GTAO_Booster_PoC,The elegant TALL stack admin for Laravel artis...,113,C
2,laravel-filament / filament,"PaddlePaddle GAN library, including lots of in...",588,PHP
3,PaddlePaddle / PaddleGAN,A posix script to find and watch youtube video...,291,Python
4,pystardust / ytfzf,AWS SDK for the Go programming language.,53,Shell
5,aws / aws-sdk-go,Googletest - Google Testing and Mocking Framework,1.6k,Go
6,google / googletest,Demisto is now Cortex XSOAR. Automate and orch...,7.3k,C++
7,demisto / content,Power Fx low-code programming language,605,Python
8,microsoft / Power-Fx,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",38,C++
9,bytemaster / clarion,"An open source code editor for the web, writte...",18,JavaScript
10,microsoft / Web-Dev-For-Beginners,A curated list of engineering blogs,2.9k,JavaScript
11,adobe / brackets,"Scalable datastore for metrics, events, and re...",6.9k,Ruby
12,kilimchoi / engineering-blogs,Opensource chatting framework for generative m...,277,Go
13,influxdata / influxdb,"🕸 No-bullshit answers to the famous h5bp ""Fron...",2.9k,Python
14,hyunwoongko / openchat,🏗 forkable Ethereum dev stack focused on fast ...,12,JavaScript
15,yangshun / front-end-interview-handbook,Firebase iOS SDK,28k,JavaScript
16,austintgriffith / scaffold-eth,StudioGAN is a Pytorch library providing imple...,318,Objective-C
17,firebase / firebase-ios-sdk,Generic Signature Format for SIEM Systems,752,Python
18,POSTECH-CVLab / PyTorch-StudioGAN,cvpr2021/cvpr2020/cvpr2019/cvpr2018/cvpr2017 论...,103,Python
19,SigmaHQ / sigma,A workbench for writing toy implementations of...,932,Clojure
20,extreme-assistant / CVPR2021-Paper-Code-Interp...,The React Framework,1.4k,JavaScript
21,jepsen-io / maelstrom,📡 PoC auto collect from GitHub. ⚠️ Be careful ...,17,Go

# Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [83]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')
#first get the webpage   https://www.billiboard.com/ 
driver.get('https://www.billboard.com/')

In [84]:
#clicking chart
s=driver.find_element_by_xpath('//ul[@class="header__link-list header__main-menu bg--dark"]/li[1]/a')
driver.get(s.get_attribute('href'))

In [85]:
driver.find_element_by_xpath("//div[@class='charts-landing__info charts-landing__info--hot-100']/div[2]/div").click()

In [86]:
#creating empty list
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [87]:
#Song name
song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:
    Song_name.append(i.text)
Song_name[:5]

['Drivers License', 'Up', 'Go Crazy', '34+35', 'Blinding Lights']

In [88]:
#artist name
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    Artist_name.append(i.text)
Artist_name[:5]

['Olivia Rodrigo',
 'Cardi B',
 'Chris Brown & Young Thug',
 'Ariana Grande',
 'The Weeknd']

In [89]:
#last week rank
rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in rank:
    Last_week_rank.append(i.text)
Last_week_rank[:5]

['1', '5', '8', '2', '4']

In [90]:
#peak rank
peak_rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak_rank:
    Peak_rank.append(i.text)
Peak_rank[:5]

['1', '2', '3', '2', '1']

In [91]:
#weeks on board
weeks_on_board=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks_on_board:
    Weeks_on_board.append(i.text)
Weeks_on_board[:5]

['7', '3', '42', '17', '64']

In [92]:
#creating dataframe
df=pd.DataFrame({})
df['Song_name']=Song_name
df['Artist_name']=Artist_name
df['Last_week_rank']=Last_week_rank
df['Peak_rank']=Peak_rank
df['Weeks_on_board']=Weeks_on_board
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

# Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [93]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

#first get the webpage  https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [94]:
#clicking on recruiter option
driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").click()

In [106]:
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

In [107]:
search_field_designation=driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div[2]/input")
search_field_designation.send_keys("Data Science")

In [108]:
#clicking on search button
button=driver.find_element_by_id("qsbFormBtn")
button.click()

In [109]:
#creating empty list
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [110]:
#Name
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    if i.text is None or i.text=='':
        Name.append('-')
    else:
        Name.append(i.text)
Name[:5]

['Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP']

In [111]:
#designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    if i.text is None or i.text=='':
        Designation.append('-')
    else:
        Designation.append(i.text)
Designation[:5]

['HR Manager',
 'Company Recruiter',
 'Recruitment Professional',
 'Company Recruiter',
 'Company HR']

In [112]:
#company
company=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in company:
    Company.append(i.text)
Company[:5]

['Aakash Harit',
 'Data Science Network',
 'shravan Kumar Gaddam',
 'Shore Infotech India Pvt. Ltd',
 'Talent Acquisition Executive']

In [113]:
#skills
skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills:
    Skills.append(i.text)
Skills[:5]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics']

In [114]:
#location
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in location:
    Location.append(i.text)
Location[:5]

['Delhi', 'Hyderabad / Secunderabad', 'Chandigarh', 'Ahmedabad', 'Pune']

In [115]:
print(len(Company),len(Name),len(Skills),len(Designation),len(Location))

100 50 50 50 48

In [116]:
df=pd.DataFrame({})
df['name']=Name[:48]
df['Designation']=Designation[:48]
df['company']=Company[:48]
df['skill_they_hire_for']=Skills[:48]
df['location']=Location[:48]
df

,name,Designation,company,skill_they_hire_for,location
0,Aakash Harit,HR Manager,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Data Science Network,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,shravan Kumar Gaddam,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,Talent Acquisition Executive,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,XenonStack,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Anik Agrawal,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Enerlytics Software Solutions Pvt Ltd,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,MARSIAN Technologies LLP,Data Science,Chennai
9,Balu Ramesh,HR Administrator,MARSIAN Technologies LLP,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,subhas patel,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,LibraryXProject,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Jitendra Singh,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,Compunnel Technology India Pvt. Ltd,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,Abhishek - Only Analytics Hiring - India and,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Apidel Technologies Division of Transpower,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,Institute for Financial Management and Resear,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,IFMR,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,Balu Ramesh,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,Techvantage Systems Pvt Ltd,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,Asif Lucknowi,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Weupskill- Live Wire India,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,InstaFinancials,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,CBL Data Science Private Limited,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Kalpana Dumpala,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Innominds Software,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
26,Manas,Lead Talent acquisition,Mubarak,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,MoneyTap,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Kushal Rastogi,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,QuantMagnum Technologies Pvt. Ltd.,"Web Technologies, Project Management, Software...",Mysoru / Mysore
30,Jayanth N,Project Manager,Manisha Yadav,"Data Analytics, Managed Services, Team Leading...",Noida
31,Prateek Kumar,Head,Easi Tax,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
32,Amit Sharma,Consultant,Kapil Devang,"Machine Learning, Artificial Intelligence, Dat...",Chennai
33,Kanan,senior technology instructor,BISP Solutions,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,Riya Rajesh,"Relationship Management, Retail Sales, Private...",Salt Lake City
35,Brad,"Manager, Technical Recruiting",Novelworx Digital Solutions,"Data Science, Software Engineering",Pune
36,Rutuja Pawar,Technical Recruiter,Mahesh Babu Channa,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
37,Madhusudhan Sridhar,Erp Implementer,SocialPrachar.com,"Data Science, Recruitment, Salary",Mumbai
38,Ankit Sinha,Head Analytics,Rashmi Bhattacharjee,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
39,Gaurav Chouhan,Chief Technical Officer,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
40,Rashi Kacker,Sr Product Manager,Faizan Kareem,"Data Science, Node.js, Angularjs",MYSORE
41,Ashwini,Director Global Delivery,FirstTech Consaltants Pvt.Ltd,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
42,Balaji Kolli,Co Founder,Rithika dadwal,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
43,Rajani Nagaraj,HR Manager,Affine Analytics,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
44,ROHIT Kumar,Architect,Azahar Shaikh,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
45,Amir Chowdhury,Managing Partner,NEAL ANALYTICS SERVICES PVT LTD,"Machine Learning, Data Science, Product Manage...",Noida
46,SREEDHAR,Recruitment Consultant,Sandhya Khandagale,"Data Science, Machine Learning, Big Data Analy...",Mumbai
47,Shailja Mishra,HR Manager,Compumatrice Multimedia Pvt Ltd,"consulting, Education Counseling, Educational ...",Bengaluru / Bangalore

# Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [117]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

#first get the webpage   https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ 
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [118]:
#creating empty list
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [119]:
#book name
book=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]")
for i in book:
    Book_name.append(i.text)

#author
author=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]")
for i in author:
    Author_name.append(i.text)

#volume sold
volume_sold=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]")
for i in volume_sold:
    Volumes_sold.append(i.text)

#publisher
publisher=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]")
for i in publisher:
    Publisher.append(i.text)

#genre
genre=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]")
for i in genre:
    Genre.append(i.text)

In [120]:
df=pd.DataFrame({})
df['book_name']=Book_name
df['author name']=Author_name
df['volume sold']=Volumes_sold
df['publisher']=Publisher
df['genre']=Genre
df[:50]

,book_name,author name,volume sold,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas
11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"
13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"
15,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction
16,Deception Point,"Brown, Dan","2,062,145",Transworld,"Crime, Thriller & Adventure"
17,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
18,"Lovely Bones,The","Sebold, Alice","2,005,598",Pan Macmillan,General & Literary Fiction
19,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,General & Literary Fiction
20,Digital Fortress,"Brown, Dan","1,928,900",Transworld,"Crime, Thriller & Adventure"
21,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science
22,"Girl Who Played with Fire,The:Millennium Trilogy","Larsson, Stieg","1,814,784",Quercus,"Crime, Thriller & Adventure"
23,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction
24,"Very Hungry Caterpillar,The:The Very Hungry Ca...","Carle, Eric","1,783,535",Penguin,Picture Books
25,"Gruffalo,The","Donaldson, Julia","1,781,269",Pan Macmillan,Picture Books
26,Jamie's 30-Minute Meals,"Oliver, Jamie","1,743,266",Penguin,Food & Drink: General
27,"Kite Runner,The","Hosseini, Khaled","1,629,119",Bloomsbury,General & Literary Fiction
28,One Day,"Nicholls, David","1,616,068",Hodder & Stoughton,General & Literary Fiction
29,"Thousand Splendid Suns,A","Hosseini, Khaled","1,583,992",Bloomsbury,General & Literary Fiction
30,"Girl Who Kicked the Hornets' Nest,The:Millenni...","Larsson, Stieg","1,555,135",Quercus,"Crime, Thriller & Adventure"
31,"Time Traveler's Wife,The","Niffenegger, Audrey","1,546,886",Random House,General & Literary Fiction
32,Atonement,"McEwan, Ian","1,539,428",Random House,General & Literary Fiction
33,Bridget Jones's Diary:A Novel,"Fielding, Helen","1,508,205",Pan Macmillan,General & Literary Fiction
34,"World According to Clarkson,The","Clarkson, Jeremy","1,489,403",Penguin,Humour: Collections & General
35,Captain Corelli's Mandolin,"Bernieres, Louis de","1,352,318",Random House,General & Literary Fiction
36,"Sound of Laughter,The","Kay, Peter","1,310,207",Random House,Autobiography: General
37,Life of Pi,"Martel, Yann","1,310,176",Canongate,General & Literary Fiction
38,Billy Connolly,"Stephenson, Pamela","1,231,957",HarperCollins,Biography: The Arts
39,"Child Called It,A","Pelzer, Dave","1,217,712",Orion,Autobiography: General
40,"Gruffalo's Child,The","Donaldson, Julia","1,208,711",Pan Macmillan,Picture Books
41,Angela's Ashes:A Memoir of a Childhood,"McCourt, Frank","1,204,058",HarperCollins,Autobiography: General
42,Birdsong,"Faulks, Sebastian","1,184,967",Random House,General & Literary Fiction
43,Northern Lights:His Dark Materials S.,"Pullman, Philip","1,181,503",Scholastic Ltd.,Young Adult Fiction
44,Labyrinth,"Mosse, Kate","1,181,093",Orion,General & Literary Fiction
45,Harry Potter and the Half-blood Prince,"Rowling, J.K.","1,153,181",Bloomsbury,Science Fiction & Fantasy
46,"Help,The","Stockett, Kathryn","1,132,336",Penguin,General & Literary Fiction
47,Man and Boy,"Parsons, Tony","1,130,802",HarperCollins,General & Literary Fiction
48,Memoirs of a Geisha,"Golden, Arthur","1,126,337",Random House,General & Literary Fiction
49,"No.1 Ladies' Detective Agency,The:No.1 Ladies'...","McCall Smith, Alexander","1,115,549","Little, Brown Book","Crime, Thriller & Adventure"

# Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [270]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

#first get the webpage   
driver.get(' https://www.imdb.com/list/ls095964455/')

In [271]:
#creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [272]:
#scraping name
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)

#year of span
year_span=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year_span:
    Year_span.append(i.text)
    
#Genre
genre=driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
    
#run time
run_time=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in run_time:
    Run_time.append(i.text)
    
#rating
rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in rating:
    Ratings.append(i.text)
    
#votes
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote:
    Votes.append(i.text)

In [273]:
#creating the dataframe from the scraped data
df=pd.DataFrame({})
df['Name']=Name[:100]
df['Year_span']= Year_span[:100]
df['Genre']=Genre[:100]
df['Run_time']= Run_time[:100]
df['Ratings']=Ratings[:100]
df['Votes']=Votes[:100]
df

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,777,849"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"828,499"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,586"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,162"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,673"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,761"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,077"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,177"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,193"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,811"

# Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [32]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

#first get the webpage   
driver.get('https://archive.ics.uci.edu/')

In [33]:
dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")
driver.get(dataset.get_attribute('href'))

In [34]:
#creating empty list
Dataset_name=[] 
Data_type=[]
Task=[] 
Attribute_type=[] 
No_of_instances=[] 
No_of_attribute=[] 
Year=[]

In [35]:
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[1]")[1:]:
    Dataset_name.append(i.text)

In [36]:
Dataset_name[:5]

['  Abalone',
 '  Adult',
 '  Annealing',
 '  Anonymous Microsoft Web Data',
 '  Arrhythmia']

In [37]:
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[2]")[1:]:
    if i.text is None :
        Data_type.append('-')
    else:
        Data_type.append(i.text)
Data_type[:5]

['Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate ']

In [38]:
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[3]")[1:]:
    if i.text is None:
        Task.append('-')
    else:
        Task.append(i.text)
Task[:5]

['Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ',
 'Classification ']

In [39]:
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[4]")[1:]:
    if i.text is None:
        Attribute_type.append('-')
    else:
        Attribute_type.append(i.text)
Attribute_type[:5]

['Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical, Integer, Real ']

In [40]:
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[5]")[1:]:
    if i.text is None :
        No_of_instances.append('-')
    else:
        No_of_instances.append(i.text)

No_of_instances[:5]

['4177 ', '48842 ', '798 ', '37711 ', '452 ']

In [41]:
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[6]")[1:]:
    if i.text is None :
        No_of_attribute.append('-')
    else:
        No_of_attribute.append(i.text)
No_of_attribute[:5]

['8 ', '14 ', '38 ', '294 ', '279 ']

In [42]:
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[7]")[1:]:
    if i.text is None :
        Year.append('-')
    else:
        Year.append(i.text)
Year[:5]

['1995 ', '1996 ', ' ', '1998 ', '1998 ']

In [43]:
df=pd.DataFrame({})
df['Dataset_name']= Dataset_name
df['Data_type']=Data_type
df['Task']= Task
df['Attribute_type']=Attribute_type
df['No_of_instances']=No_of_instances
df['No_of_attribute']=No_of_attribute
df['Year']=Year
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020